input{
    margin-top: 15px;
}

textarea{
    margin-top: 15px;
}

input[type = "submit"]{
    background-color: #449140;
    color: white;
}

#menuDiv{
	z-index: 1;
    background-color: #449140;
    height: 60px;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
}

#regDiv{
	margin-top: 70px;
}

button{
	background-color: #449140;
	color: white;
}