#menuDiv{
	z-index: 1;
    background-color: #449140;
    height: 60px;
    position: fixed;
    top: 0;
    left:0;
    width:100%;
}

#picDummy{
	background-color: red;
	height: 250px;
	width: 200px;
	position: relative;
	margin: auto;
}

button{
	background-color: #449140;
	color: white;
}

